{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
<h1>מסכת {{page.tractate.name}} (סדר {{page.tractate.order.name}}) דף {{page.hebrew_number}}</h1>
{% if page.previous %}
	<a href="/talmud/{{page.previous.tractate.order.number}}/{{page.previous.tractate.number}}/{{page.previous.folio}}{{page.previous.side}}">{{page.previous.hebrew__number}}</a>
{% endif %}
{% if page.next %}
	<a href="/talmud/{{page.next.tractate.order.number}}/{{page.next.tractate.number}}/{{page.next.folio}}{{page.next.side}}">{{page.next.hebrew_number}}</a>
{% endif %}
<table>
{% for paragraph in page.paragraphs %}
	<tr>
		<td>{{paragraph.hebrew_number}}</td>
		<td>{{paragraph.texts.text}}</td>
	</tr>
{% endfor %}
</table>
{% endblock %}
