{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
<h1>תנך</h1>
<h2>pentateuch</h2>
<table>
{% for book in scriptures.tanakh.pentateuch.books %}
	<tr>
		<td><a href"/">{{book.name}}</a></td>
		<td>
			{% for chapter in book.chapters %}
				<a href="/tanakh/{{book.number}}/{{chapter.number}}">{{chapter.hebrew_number}}</a>
			{% endfor %}
		</td>
	</tr>
{% endfor %}
</table>
<h2>prophets</h2>
<table>
{% for book in scriptures.tanakh.prophets.books %}
	<tr>
		<td><a href"/">{{book.name}}</a></td>
		<td>
			{% for chapter in book.chapters %}
				<a href="/tanakh/{{book.number}}/{{chapter.number}}">{{chapter.hebrew_number}}</a>
			{% endfor %}
		</td>
	</tr>
{% endfor %}
</table>
<h2>writings</h2>
<table>
{% for book in scriptures.tanakh.writings.books %}
	<tr>
		<td><a href"/">{{book.name}}</a></td>
		<td>
			{% for chapter in book.chapters %}
				<a href="/tanakh/{{book.number}}/{{chapter.number}}">{{chapter.hebrew_number}}</a>
			{% endfor %}
		</td>
	</tr>
{% endfor %}
</table>
<h4>פרשות</h4>
<table>
{% for book in scriptures.tanakh.books[:5] %}
	{% for parashah in book.parashot %}
		<tr>
			<td>{{parashah.number}}</td>
			<td><a href="/tanakh/p/{{parashah.number}}">{{parashah.book.name}} {{parashah.name.replace('"', '')}}</a></td>
			<td>{{len(parashah.verses)}}</td>
			<td>{{len(parashah.readingsverses)}}</td>
			{% for r in range(len(parashah.readings)) %}
				<td>
					{% set reading = parashah.readings[r] %}
					{% set verses = reading.verses %}
					{% if verses %}
						{{verses[0].chapter.hebrew_number}}:{{verses[0].hebrew_number}} -
						{{verses[-1].chapter.hebrew_number}}:{{verses[-1].hebrew_number}}
						({{len(reading.verses)}})
					{% endif %}
				</td>
			{% endfor %}
		</tr>
	{% endfor %}
{% endfor %}
</table>
{% endblock %}
