{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
<table>
	<tr>
		<th></th>
		<th></th>
		{% if chapter.book in scriptures.pentateuch.books %}
			<th>אונקלוס</th>
			<th>ירושלמי</th>
		{% endif %}
		{% if chapter.book in scriptures.prophets.books %}
			<th>יונתן</th>
		{% endif %}
		{% if chapter.book in scriptures.writings.books and chapter.book.number < 35 %}
			<th>תרגום</th>
		{% endif %}
		{% if chapter.book in scriptures.pentateuch.books %}
			<th>tafsir</th>
		{% endif %}
	</tr>
{% for verse in chapter.verses %}
	<tr>
		<td>{{verse.hebrew_number}}</td>
		<td>{{verse.texts.mikra}}</td>
		{% if chapter.book in scriptures.pentateuch.books %}
			<td>{{verse.texts.onkelos}}</td>
			<td>{{verse.texts.jerusalmi}}</td>
		{% endif %}
		{% if chapter.book in scriptures.prophets.books %}
			<td>{{verse.texts.jonathan}}</td>
		{% endif %}
		{% if chapter.book in scriptures.writings.books and chapter.book.number < 35 %}
			<td>{{verse.texts.targum}}</td>
		{% endif %}
		{% if chapter.book in scriptures.pentateuch.books %}
			<td>{{verse.texts.tafsir}}</td>
		{% endif %}
		<!--<td>
			{% for line in verse.texts.rashi %}
				{{line|safe}}<br />
			{% endfor %}
		</td>-->
	</tr>
{% endfor %}
</table>
{% endblock %}
