{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
{#% if section.next %}<a href="/zohar/{{section.next.chapter.number}}/{{section.next.number}}">next</a>{% endif %#}
{% for paragraph in article.paragraphs %}
	<p>{{paragraph.number}} {{paragraph.texts.text}}</p>
{% endfor %}
<table>
	<tr>
		<th></th>
		<th>אונקלוס</th>
		<th>ירושלמי</th>
		<th>יונתן</th>
		<th>תרגום</th>
		<th>תלמוד</th>
		<th>זוהר</th>
	</tr>
	{% for bareword in article.barewords %}
		<tr>
		<td><a href="/aramaic/{{bareword}}">{{bareword}}</a></td>
		<td>
			{% for word in scriptures.onkelos_dictionary[bareword] %}
				{{word}}<br />
			{% endfor %}
		</td>
		<td>
			{% for word in scriptures.jerusalmi_dictionary[bareword] %}
				{{word}}<br />
			{% endfor %}
		</td>
		<td>
			{% for word in scriptures.jonathan_dictionary[bareword] %}
				{{word}}<br />
			{% endfor %}
		</td>
		<td>
			{% for word in scriptures.targum_dictionary[bareword] %}
				{{word}}<br />
			{% endfor %}
		</td>
		<td>
			{% for word in scriptures.talmud_dictionary[bareword] %}
				{{word}}<br />
			{% endfor %}
		</td>
		<td>
			{% for word in scriptures.zohar_dictionary[bareword] %}
				{{word}}<br />
			{% endfor %}
		</td>
		</tr>
	{% endfor %}
</table>

<table class="reuven">
{#% for word in article.uniquewords %}
	{% set alternates = aramaic.baresearch(word) %}
	{% for alt in alternates %}
		<tr>
		{% if loop.first %}
			<td rowspan="{{len(alternates)}}">{{word}}</td>
		{% endif %}
		<td>{{alt.htmltext|safe}}</td>
		<td>{{alt.yemenitext or ""}}</td>
		<td>{{alt.translation or ""}}</td>
		<td>{{alt.morphology}}</td>
		</td>
	{% endfor %}
	</tr>
{% endfor %#}
</table>
{% endblock %}
