@font-face {
	font-family: main;
	src: url('/@@/SBLHebrew.ttf') format('truetype');
	}

@font-face {
	font-family: reuven;
	src: url('/@@/ReuvenSerif.ttf') format('truetype');
	}

* {
	spacing: 0;
	margin: 0;
	}

html {
	font-family: main;
	}

#content {
	padding: 20px;
	}

.page {
	border: 1px solid #ccc;
	padding: 10px;
	text-align: justify;
	margin-bottom: 10px;
	}

table {
	border-collapse: collapse;
	border: 1px solid #999;
	}

td {
	border: 1px solid #999;
	text-align: justify;
	padding: 0 10px;
	vertical-align: top;
	}

a {
	text-decoration: none;
	}

form textarea {
	font-family: main;
	width: 100%;
	}

p {
	margin: 10px;
	}

div#menu {
	border-top: 2px solid #ccc;
	padding: 10px 20px;
	}

.lectionis {
	color: #ccc;
	}

.reuven {
	font-family: reuven;
	font-size: 1.3em;
	}
